extends layout

block content
  .container
    h1 #{title}
  .container
    .card-panel.teal.white-text.right(style="width: 50%; margin-left: 20px; margin-bottom: 20px;")
      p #{shortlede}
      p !{longlede}
    p !{content}
